html,
body,
#magiz {
  margin  : 0;
  padding : 0;
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

#magiz {
  opacity: .6;
}

#cover {
  position       : fixed;
  top            : 0;
  width          : 100%;
  height         : 100%;
  background     : #fff;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  opacity        : 0.88;
}

#cover.hide {
  pointer-events: none;
  transition    : 3s;
  opacity       : 0;
}
